@model crud_mvc.Models.Client
@{
    ViewBag.Title = "Delete";
}

<form method = "post" asp-action="_Delete">
    <input asp-for="Id" hidden />
    <div class="border m-5 p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3 ">Delete</h2>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FullName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="CEP"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="City"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input class="form-control" asp-for="FullName" disabled ="disabled">
                    </div>
                    <div class="col-4">
                        <input class="form-control" asp-for="CEP" disabled ="disabled">
                    </div>
                    <div class="col-4">
                        <input class="form-control" asp-for="City" disabled ="disabled">
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Address"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="District"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="State"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input class="form-control" asp-for="Address" disabled ="disabled">
                    </div>
                    <div class="col-4">
                        <input class="form-control" asp-for="District" disabled ="disabled">
                    </div>
                    <div class="col-4">
                        <input class="form-control" asp-for="State" disabled ="disabled">
                    </div>

                </div>
                <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" asp-for="CPF" readonly="readonly">
                        </div>
                        <div class="col-4">
                            <input class="form-control"  asp-for="RG" readonly="readonly" >
                        </div>
                        <div class="col-4">
                              <input class="form-control" type= "tel" asp-for="Phone" readonly="readonly">
                        </div>
                    </div>

                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Career"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="Service"></label>
                        </div>

                        <div class="col-4">
                            <label asp-for="HealthI"></label>
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" asp-for="Career" readonly="readonly">
                        </div>
                        <div class="col-4">
                           <input asp-for = "Service" readonly="readonly">
                        </div>
                        <div class="col-4">
                              <input asp-for = "HealthI" readonly="readonly">
                        </div>
                    </div>

                    
                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Gender"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="MCivil"></label>
                        </div>

                        <div class="col-4">
                            <label asp-for="Details"></label>
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-4">
                           <input asp-for="Gender" readonly="readonly"> 

                        </div>
                        <div class="col-4">
                            <input asp-for="MCivil" readonly="readonly">
                        </div>
                        <div class="col-4">
                              <input class="form-control"  asp-for="Details" readonly="readonly" >
                        </div>
                    </div>
                     
                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Email"></label>
                        </div>

                        <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" type= "email" asp-for="Email" readonly="readonly" >
                        </div>
                       
                    </div>
                       
                    </div>

                <div class="form-group row pt-3">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger  w-75" value="Delete" />

                        </div>
                        <div class="col">
                            <a asp-controller="Client" asp-action="Index" class="btn btn-success w-75">Back</a>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</form>
