@model crud_mvc.Models.Client
@{

    ViewBag.Title = "Details";
}
<html>

<head>
    

</head>
<body>

    <form >
        <div class="border m-5 p-3">
            <div class="form-group row">
                <h2 class="text-black-50 pl-3">Details</h2>
            </div>
            <div class="row">
                <div class="col-12" >

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="FullName"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="CEP"></label>
                        </div>

                        <div class="col-4">
                            <label asp-for="City"></label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control"  id="fullname" asp-for="FullName" readonly = "readonly" >
                        </div>
                        <div class="col-4">
                           
                            <input type="text" class="form-control" asp-for="CEP" readonly= "readonly">
                        </div>
                        <div class="col-4">
                            <input class="form-control" id="city" asp-for="City" readonly = "readonly" >

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Address"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="District"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="State"></label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" id="address" asp-for=Address readonly = "readonly" >
                        </div>
                        <div class="col-4">
                            <input class="form-control" id="district" asp-for="District" readonly = "readonly" >
                        </div>
                        <div class="col-4">
                            <input class="form-control" id="state" asp-for="State" readonly = "readonly">
                        </div>
                    </div>

                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="CPF"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="RG"></label>
                        </div>

                        <div class="col-4">
                            <label asp-for="Phone"></label>
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" asp-for="CPF" readonly="readonly">
                        </div>
                        <div class="col-4">
                            <input class="form-control"  asp-for="RG" readonly="readonly" >
                        </div>
                        <div class="col-4">
                              <input class="form-control" type= "tel" asp-for="Phone" readonly="readonly">
                        </div>
                    </div>

                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Career"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="Service"></label>
                        </div>

                        <div class="col-4">
                            <label asp-for="HealthI"></label>
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" asp-for="Career" readonly="readonly">
                        </div>
                        <div class="col-4">
                           <input asp-for = "Service" readonly="readonly">
                        </div>
                        <div class="col-4">
                              <input asp-for = "HealthI" readonly="readonly">
                        </div>
                    </div>

                    
                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Gender"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="MCivil"></label>
                        </div>

                        <div class="col-4">
                            <label asp-for="Details"></label>
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-4">
                           <input asp-for="Gender" readonly="readonly"> 

                        </div>
                        <div class="col-4">
                            <input asp-for="MCivil" readonly="readonly">
                        </div>
                        <div class="col-4">
                              <input class="form-control"  asp-for="Details" readonly="readonly" >
                        </div>
                    </div>
                     
                      <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Email"></label>
                        </div>

                        <div class="form-group row">
                        <div class="col-4">
                            <input class="form-control" type= "email" asp-for="Email" readonly="readonly" >
                        </div>
                       
                    </div>
                       
                    </div>

                    <div class="form-group row pt-3">
                        <div class="col-8 offset-2 row">
                            <div class="col">

                                <button class="btn btn-info w-75" asp-controller = "Client" asp-action="Edit" asp-route-Id="@Model.Id">Edit</button>

                            </div>
                            <div class="col">
                                <a asp-controller="Client" asp-action="Delete" asp-route-Id="@Model.Id"  class="btn btn-danger w-75">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>


